<?xml version="1.0" encoding="UTF-8"?>  
<!DOCTYPE hibernate-configuration PUBLIC  
        "-//Hibernate/Hibernate Configuration DTD 5.3//EN"  
        "http://www.hibernate.org/dtd/hibernate-configuration-5.3.dtd">  
<hibernate-configuration>  
    <session-factory>  
            
    	<property name="hbm2ddl.auto">update</property>    
    	<property name="dialect">org.hibernate.dialect.PostgreSQLDialect</property>    
		<property name="connection.url">jdbc:postgresql://localhost:5432/postgres</property>    
		<property name="connection.username">postgres</property>    
		<property name="connection.password">abcd1234</property>    
		<property name="connection.driver_class">org.postgresql.Driver</property>   
       
        <!-- Echo the SQL to stdout -->
       	<property name="hibernate.show_sql">true</property>
       	
       	<!-- Set the current session context -->
       	<property name="current_session_context_class">thread</property>
       	
        <mapping class="com.hibernate_postgres.entity.UserEntity"/>
        <mapping class="com.hibernate_postgres.entity.BankEntity"/>
        <mapping class="com.hibernate_postgres.entity.EmployeeEntity"/>
        <mapping class="com.hibernate_postgres.entity.CourseEntity"/>
        <mapping class="com.hibernate_postgres.entity.StudentEntity"/>  
    </session-factory>  
</hibernate-configuration>